@use './variables.scss' as *;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css');

// theme related css variables
body {
  --color-text: #{$color-txt--light};
  --color-text-strong: #{$color-txt-strong--light};
  --color-label: #{$color-lbl--light};
  --color-bg: #{$color-bg--light};
  --color-bg-dim: #{$color-bg-dim--light};
  --color-bg-box: #{$color-bg-box--light};
  --color-bg-change: #{$color-bg-change--light};
  --color-shadow-dark: #{$color-shd-dim--light};
  --color-shadow-light: #{$color-shd-bright--light};
  --shadow-outer: #{$shd-outer--light};
  --shadow-outer-s: #{$shd-outer-s--light};
  --shadow-outer-hover: #{$shd-outer-hover--light};
  --shadow-inner: #{$shd-inner--light};
  --shadow-inner-s: #{$shd-inner-s--light};
  --shadow-inner-hover: #{$shd-inner-hover--light};

  &.dark-theme {
    --color-text: #{$color-txt--dark};
    --color-text-strong: #{$color-txt-strong--dark};
    --color-label: #{$color-lbl--dark};
    --color-bg: #{$color-bg--dark};
    --color-bg-dim: #{$color-bg-dim--dark};
    --color-bg-box: #{$color-bg-box--dark};
    --color-bg-change: #{$color-bg-change--dark};
    --color-shadow-dark: #{$color-shd-dim--dark};
    --color-shadow-light: #{$color-shd-bright--dark};
    --shadow-outer: #{$shd-outer--dark};
    --shadow-outer-s: #{$shd-outer-s--dark};
    --shadow-outer-hover: #{$shd-outer-hover--dark};
    --shadow-inner: #{$shd-inner--dark};
    --shadow-inner-s: #{$shd-inner-s--dark};
    --shadow-inner-hover: #{$shd-inner-hover--dark};
  }

  &.change-theme {
    --color-bg-box: none !important;
  }
}

// default styles for tags
html {
  // define rem
  font-size: 20px;
}
@media screen and (max-width: 700px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Bazier Square,
    Noto Sans KR, Segoe UI, Apple SD Gothic Neo, Roboto, Helvetica Neue, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  color: var(--color-text);
  background: var(--color-bg);
  transition: $tr-color, $tr-bg;
  user-select: none;
}

h1 {
  font-size: $font-size-section-title !important;
  font-weight: 900 !important;
}
h2 {
  font-size: $font-size-subtitle !important;
  font-weight: bold !important;
}
h3 {
  font-size: $font-size-subtitle-s !important;
  font-weight: 600 !important;
}
b {
  font-weight: bold !important;
}
h1,
h2,
h3,
p,
span,
label {
  transition: $tr-color;
}
img {
  transition: $tr-op;
  pointer-events: none;
}

button {
  font-size: $font-size-button;
}

ul {
  list-style: disc !important;
  padding-left: 1.4rem !important;
}

input,
textarea {
  font-family: 'Pretendard';
  font-size: 1rem;
}

// disable scrollbar
html,
textarea {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prevent-scroll {
  overflow: hidden;
}

// global classes
.container-800 {
  max-width: 800px;
  margin: 0 auto;
}

// intersection observer related classes
.observe {
  visibility: hidden;
}

.hide-box {
  &,
  * {
    box-shadow: none !important;
    background: transparent !important;
    &:not(#nav-select) {
      translate: 0 4px;
    }
  }
}

.hide-text {
  &,
  * {
    color: transparent !important;
    border-color: transparent !important;
    transition: $tr-shd cubic-bezier(0.47, 2, 0.41, 0.75),
      0.6s translate cubic-bezier(0.47, 2, 0.41, 0.75) !important;
    &::placeholder {
      color: transparent;
    }
  }
  img {
    opacity: 0 !important;
  }
}

.fade-out#nav-select ~ a:not(:hover) {
  color: var(--color-label) !important;
  font-weight: normal !important;
}
