@use './variables.scss' as *;

html {
  // define rem
  font-size: 18px;
}

body {
  --color-text: #{$color-txt--light};
  --color-text-strong: #{$color-txt-strong--light};
  --color-label: #{$color-lbl--light};
  --color-bg: #{$color-bg--light};
  --color-bg-dim: #{$color-bg-dim--light};
  --color-bg-bright: #{$color-bg-bright--light};
  --color-bg-inv: #{$color-bg-inv--light};
  --color-shadow-dark: #{$color-shd-dim--light};
  --color-shadow-light: #{$color-shd-bright--light};
  --shadow-outer: #{$shd-outer--light};
  --shadow-outer-s: #{$shd-outer-s--light};
  --shadow-outer-hover: #{$shd-outer-hover--light};
  --shadow-inner: #{$shd-inner--light};
  --shadow-inner-s: #{$shd-inner-s--light};
  --shadow-inner-hover: #{$shd-inner-hover--light};

  &.dark-theme {
    --color-text: #{$color-txt--dark};
    --color-text-strong: #{$color-txt-strong--dark};
    --color-label: #{$color-lbl--dark};
    --color-bg: #{$color-bg--dark};
    --color-bg-dim: #{$color-bg-dim--dark};
    --color-bg-bright: #{$color-bg-bright--dark};
    --color-bg-inv: #{$color-bg-inv--dark};
    --color-shadow-dark: #{$color-shd-dim--dark};
    --color-shadow-light: #{$color-shd-bright--dark};
    --shadow-outer: #{$shd-outer--dark};
    --shadow-outer-s: #{$shd-outer-s--dark};
    --shadow-outer-hover: #{$shd-outer-hover--dark};
    --shadow-inner: #{$shd-inner--dark};
    --shadow-inner-s: #{$shd-inner-s--dark};
    --shadow-inner-hover: #{$shd-inner-hover--dark};
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  transition: $tr-color, $tr-bg;
}

h1 {
  font-size: 1.8rem !important;
  font-weight: bold !important;
}

b {
  color: var(--color-text-strong) !important;
  font-weight: bold !important;
}

p {
  line-height: 1.4rem !important;
  &:not(:last-child) {
    margin-bottom: 0.7rem !important;
  }
}

h1,
p,
b {
  transition: $tr-color;
}

.container-400 {
  max-width: 400px;
  margin: 0 auto;
}

.container-720 {
  max-width: 720px;
  margin: 0 auto;
}

.container-960 {
  max-width: 1080px;
  margin: 0 auto;
}

// scrollbar
html {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.prevent-scroll {
  overflow: hidden;
}
