@use './variables.scss' as *;

@mixin neumorphic-box-outer {
  background: var(--color-bg-box);
  background-color: var(--color-bg-change);
  box-shadow: var(--shadow-outer);
  transition: $tr-shd, $tr-bg, $tr-bdr;
}

@mixin neumorphic-box-outer-s {
  @include neumorphic-box-outer;
  box-shadow: var(--shadow-outer-s);
}

@mixin neumorphic-box-outer-hover {
  @include neumorphic-box-outer;
  box-shadow: var(--shadow-outer-hover);
  color: var(--color-text-strong);
}

@mixin neumorphic-box-inner {
  background: var(--color-bg);
  box-shadow: var(--shadow-inner);
  transition: $tr-shd, $tr-bg, $tr-bdr;
}

@mixin neumorphic-box-inner-s {
  @include neumorphic-box-inner;
  box-shadow: var(--shadow-inner-s);
}

@mixin neumorphic-box-inner-hover {
  @include neumorphic-box-inner;
  box-shadow: var(--shadow-inner-hover);
  color: var(--color-text-strong);
}
