/* variables for neumorphic design */
// light mode
$color-txt--light: #434148;
$color-txt-strong--light: #000000;
$color-lbl--light: #868290;
$color-bg--light: #e0e0e0;
$color-bg-dim--light: #cfc8ca;
$color-bg-box--light: linear-gradient(145deg, #d2d2d2, #e8e8e8);
$color-bg-change--light: #dddddd;
$color-shd-dim--light: rgba(0, 0, 0, 0.5);
$color-shd-bright--light: rgba(255, 255, 255, 0.5);
$shd-outer--light: 6px 6px 12px $color-shd-dim--light,
  -6px -6px 12px $color-shd-bright--light;
$shd-outer-s--light: 3px 3px 6px $color-shd-dim--light,
  -3px -3px 6px $color-shd-bright--light;
$shd-outer-hover--light: 1px 1px 2px $color-shd-dim--light,
  -1px -1px 2px $color-shd-bright--light;
$shd-inner--light: inset 4px 4px 8px $color-shd-dim--light,
  inset -4px -4px 8px $color-shd-bright--light;
$shd-inner-s--light: inset 3px 3px 6px $color-shd-dim--light,
  inset -3px -3px 6px $color-shd-bright--light;
$shd-inner-hover--light: inset 1px 1px 2px $color-shd-dim--light,
  inset -1px -1px 2px $color-shd-bright--light;

// dark mode
$color-txt--dark: #bfc2c9;
$color-txt-strong--dark: #ffffff;
$color-lbl--dark: #7f8493;
$color-bg--dark: #24272c;
$color-bg-dim--dark: #101113;
$color-bg-box--dark: linear-gradient(145deg, #272a2e, #2e3237);
$color-bg-change--dark: #2b2e33;
$color-shd-dim--dark: rgba(0, 0, 0, 0.4);
$color-shd-bright--dark: rgba(128, 128, 128, 0.4);
$shd-outer--dark: 4px 4px 8px $color-shd-dim--dark,
  -4px -4px 8px $color-shd-bright--dark;
$shd-outer-s--dark: 2px 2px 4px $color-shd-dim--dark,
  -2px -2px 4px $color-shd-bright--dark;
$shd-outer-hover--dark: 1px 1px 2px $color-shd-dim--dark,
  -1px -1px 2px $color-shd-bright--dark;
$shd-inner--dark: inset 4px 4px 8px $color-shd-dim--dark,
  inset -4px -4px 8px $color-shd-bright--dark;
$shd-inner-s--dark: inset 3px 3px 6px $color-shd-dim--dark,
  inset -3px -3px 6px $color-shd-bright--dark;
$shd-inner-hover--dark: inset 1px 1px 2px $color-shd-dim--dark,
  inset -1px -1px 2px $color-shd-bright--dark;

/* transitions */
$tr-color: color 0.3s;
$tr-bold: font-weight 0.3s;
$tr-margin: margin 0.3s;
$tr-bg: background-color 0.6s;
$tr-bdr: border 0.6s;
$tr-shd: box-shadow 0.6s;
$tr-tf: transform 0.6s;
$tr-op: opacity 0.6s;
$tr-vis: visibility 0.6s;

// font sizes
$font-size-section-title: 3rem;
$font-size-subtitle: 1.8rem;
$font-size-subtitle-s: 1.3rem;
$font-size-sub-desc: 0.8rem;
$font-size-button: 1rem;

// primary colors (from keyboard)
$color-primary-1: #3eb489;
$color-primary-2: #eaa221;
$color-primary-3: #e2653e;
