/* variables for neumorphic design */
// light mode
$color-txt--light: #000000;
$color-lbl--light: #757e95;
$color-bg--light: #e0e5ec;
$color-bg-dim--light: #bec8e4;
$color-bg-bright--light: #e9eaf0;
$color-bg-inv--light: #24272c;
$color-shd-dim--light: rgba(0, 0, 0, 0.5);
$color-shd-bright--light: rgba(255, 255, 255, 0.5);
$shd-outer--light: 6px 6px 12px $color-shd-dim--light,
  -6px -6px 12px $color-shd-bright--light;
$shd-outer-s--light: 2px 2px 4px $color-shd-dim--light,
  -2px -2px 4px $color-shd-bright--light;
$shd-inner-s--light: inset 2px 2px 4px $color-shd-dim--light,
  inset -2px -2px 4px $color-shd-bright--light;

// dark mode
$color-txt--dark: #ffffff;
$color-lbl--dark: #7f8493;
$color-bg--dark: #24272c;
$color-bg-dim--dark: #101113;
$color-bg-bright--dark: #2b2f33;
$color-bg-inv--dark: #e0e5ec;
$color-shd-dim--dark: rgba(0, 0, 0, 0.5);
$color-shd-bright--dark: rgba(128, 128, 128, 0.5);
$shd-outer--dark: 6px 6px 12px $color-shd-dim--dark,
  -6px -6px 12px $color-shd-bright--dark;
$shd-outer-s--dark: 2px 2px 4px $color-shd-dim--dark,
  -2px -2px 4px $color-shd-bright--dark;
$shd-inner-s--dark: inset 2px 2px 4px $color-shd-dim--dark,
  inset -2px -2px 4px $color-shd-bright--dark;

/* transitions */
$tr-color: color 0.3s;
$tr-bold: font-weight 0.3s;
$tr-margin-l: margin-left 0.3s;
$tr-bg: background-color 0.6s;
$tr-shd: box-shadow 0.6s;
$tr-tf: transform 0.6s;
