@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.switch {
  position: relative;
  display: inline-block;
  flex-shrink: 0;

  span {
    position: absolute;
    top: 7px;
    pointer-events: none;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
    transition: $tr-color;
  }
  span.on {
    left: 0;
    padding-left: 2px;
    color: var(--color-text);
  }
  span.off {
    right: 0;
    padding-right: 2px;
    color: var(--color-label);
  }
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  & ~ .off {
    color: var(--color-text);
  }
  & ~ .on {
    color: var(--color-label);
  }
  &:checked ~ .off {
    color: var(--color-text);
  }
  &:checked ~ .on {
    color: var(--color-label);
  }
  &:checked + label:after {
    margin-left: 38px;
  }
}

.switch-label {
  display: block;
  position: relative;
  width: 80px;
  height: 24px;
  padding: 2px;
  border-radius: 24px;
  outline: none;
  cursor: pointer;
  user-select: none;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
  }
  // lang button background
  &::before {
    @include mixins.neumorphic-box-inner-s;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: var(--color-bg);
    border-radius: 24px;
    transition: $tr-bg;
  }
  // lang button toggle switch
  &::after {
    @include mixins.neumorphic-box-outer-s;
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 38px;
    background-color: var(--color-bg-bright);
    border-radius: 24px;
    transition: $tr-margin, $tr-bg;
  }
}

// hide switch before loading
.hidden > span {
  color: var(--color-bg) !important;
  text-shadow: none !important;
}
.hidden > label:after {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
