@use '/app/styles/variables.scss' as *;
@use '/app/styles/mixins.scss';

.nav-wrapper {
  position: sticky;
  top: 0px;
  padding: 2vh 2vw;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  padding: 0 5px;
  height: 40px;
  border-radius: 24px;
  transition: $tr-bg;
  backdrop-filter: blur(5px);

  &::after {
    @include mixins.neumorphic-box-outer;
    opacity: 0.75;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    z-index: -1;
    content: '';
  }
}

.routes {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  width: 480px;
  height: 100%;
  font-size: 18px;

  a {
    position: relative;
    box-sizing: border-box;
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 5px;
    text-align: center;
    color: var(--color-label);
    &:hover {
      color: var(--color-text);
    }
    transition: $tr-color, $tr-bold;
  }
}

.selected {
  color: var(--color-text) !important;
  font-weight: bolder;
}

.selected-bg {
  @include mixins.neumorphic-box-inner-s;
  position: absolute;
  height: 28px;
  border-radius: 28px;
  transition: $tr-margin-l, $tr-bg;
}
