@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.wrapper {
  max-width: 800px;
  margin: auto;
}

.sidebar-wrapper {
  position: sticky;
  top: 0;
  max-width: 800px;
  height: 0;
  z-index: 1;
}

.sidebar {
  position: absolute;
  top: 50vh;
  right: 0;
  translate: 0 -50%;
  padding: 0.2rem;
  border-radius: 0.6rem 0 0 0.6rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  & > button {
    @include mixins.neumorphic-box-outer;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;

    &.selected {
      @include mixins.neumorphic-box-outer-hover;
    }
    &:hover:not(.selected) {
      @include mixins.neumorphic-box-outer-s;
    }
    &:active {
      box-shadow: none !important;
    }
  }
}
