@use '/app/_styles/mixins.scss';

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  canvas {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    translate: -50% 0;
  }
}

.opening {
  opacity: 0;
  animation: opening 1.2s forwards;
}
@keyframes opening {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.closing {
  animation: closing 2s forwards;
}
@keyframes closing {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hide {
  opacity: 0;
}
