@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.wrapper {
  position: absolute;
  top: 70vh;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  max-width: 1100px;
  padding-left: 5%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.medium {
    flex-direction: row;
    top: 48vh;
    scale: 1.25;
    transform-origin: 0 0;
  }
  &.small {
    flex-direction: row;
    gap: 10px;
    top: calc(8vh + 19rem);
    left: 0;
    translate: 0;
    width: auto;
    scale: 0.88;
    transform-origin: 0 0;
  }
  &.xsmall {
    flex-direction: row;
    top: calc(5vh + 16rem);
    margin-left: 10px;
    left: -5px;
    translate: 0;
    width: auto;
    scale: 0.67;
    transform-origin: 0 0;
  }
}

.btn {
  @include mixins.neumorphic-box-outer;
  box-sizing: border-box;
  width: 11rem;
  height: 3rem;
  padding: 0 0.8rem;
  border-radius: 1rem;

  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;

  display: flex;
  align-items: center;
  gap: 10px;

  .icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    transition: 0.6s filter;
  }
  span {
    display: inline-block;
    flex-grow: 1;
  }

  &:hover {
    @include mixins.neumorphic-box-outer-hover;
  }
  &:active {
    box-shadow: none;
  }
}

.light {
  .icon {
    filter: invert(30%);
  }
  &:hover .icon {
    filter: invert(0%);
  }
}
.dark {
  .icon {
    filter: invert(70%);
  }
  &:hover .icon {
    filter: invert(100%);
  }
}

.disable {
  @include mixins.neumorphic-box-outer-hover;
  color: var(--color-label);
  .icon {
    filter: invert(50%);
  }
  &:active {
    box-shadow: var(--shadow-outer-hover);
  }
}

.opening {
  animation: 2.7s show-with-delay;
}
@keyframes show-with-delay {
  0% {
    opacity: 0;
    box-shadow: none;
    translate: 0 4px;
  }
  75% {
    opacity: 0;
    box-shadow: none;
    translate: 0 4px;
  }
  100% {
    opacity: 1;
  }
}
