@use '/app/_styles/variables.scss' as *;

.wrapper {
  $nav-margin: calc(2.8rem + 40px);

  position: relative;
  top: $nav-margin;
  max-width: 1000px;
  height: calc(62.5vh - $nav-margin - 1.6rem);
  margin: auto;
  padding: 0 4vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: max(6rem, 15vh) !important;
  }
  h2 {
    font-size: max(4rem, 10vh) !important;
    font-weight: 900;
  }
  h3 {
    font-size: max(3rem, 7.5vh) !important;
    height: auto;
    display: flex;
    align-items: center;
  }

  * {
    transition: 0.8s color !important;
  }
}

.small {
  margin-top: -5vh;
  h1 {
    font-size: min(18vw, 14.4vh) !important;
  }
  h2 {
    font-size: min(12vw, 9.6vh) !important;
  }
  h3 {
    font-size: min(9vw, 7.2vh) !important;
  }
}

.wrap-placehold {
  position: relative;
}

.placeholder {
  opacity: 0;
}

.content {
  position: absolute;
  top: 0;
}

// typing related styles
.hide-cursor {
  &::after {
    content: '' !important;
  }
}

.expand {
  animation: 1s expand-height;
}
@keyframes expand-height {
  0% {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    max-height: 80px;
    opacity: 1;
    overflow: visible;
  }
}

.highlight-1,
.highlight-2,
.highlight-3 {
  animation: 1s change-color;
}
.highlight-1 {
  color: $color-primary-1;
}
.highlight-2 {
  color: $color-primary-2;
}
.highlight-3 {
  color: $color-primary-3;
}
@keyframes change-color {
  0% {
    color: var(--color-text);
  }
  100% {
    color: '';
  }
}
