@use '/app/_styles/variables.scss' as *;

.wrapper {
  position: relative;
  top: calc(3.6rem + 40px);
  max-width: 1100px;
  height: 40vh;
  margin: auto;
  margin-top: 2vh;
  padding: 0 4%;

  h1 {
    font-size: 6rem !important;
  }
  h2 {
    font-size: 4rem !important;
    font-weight: 900;
  }
  h3 {
    font-size: 3rem !important;
    height: auto;
    display: flex;
    align-items: center;
  }

  * {
    transition: 0.8s color !important;
  }
}

.small {
  margin-top: 8vh;
  h1 {
    font-size: 4.2rem !important;
  }
  h2 {
    font-size: 2.8rem !important;
  }
  h3 {
    font-size: 2.1rem !important;
  }
}

.xsmall {
  margin-top: 5vh;
  h1 {
    font-size: 3.2rem !important;
  }
  h2 {
    font-size: 2.13rem !important;
  }
  h3 {
    font-size: 1.6rem !important;
  }
}

// typing related styles
.hide-cursor {
  &::after {
    content: '' !important;
  }
}

.expand {
  animation: 1s expand-height;
}
@keyframes expand-height {
  0% {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  100% {
    max-height: 80px;
    opacity: 1;
    overflow: visible;
  }
}

.highlight-1,
.highlight-2,
.highlight-3 {
  animation: 1s change-color;
}
.highlight-1 {
  color: $color-primary-1;
}
.highlight-2 {
  color: $color-primary-2;
}
.highlight-3 {
  color: $color-primary-3;
}
@keyframes change-color {
  0% {
    color: var(--color-text);
  }
  100% {
    color: '';
  }
}
