@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.2rem;

  & > h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    margin-top: -0.4rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  input,
  textarea {
    @include mixins.neumorphic-box-outer;
    padding: 0.4rem 0.6rem;
    margin-bottom: 0.6rem;
    border: 2px solid var(--color-label);
    border-radius: 12px;
    box-shadow: none;
    resize: none;

    color: var(--color-text);
    font-size: 0.9rem;

    &:hover {
      box-shadow: var(--shadow-outer-s);
    }
    &:focus {
      box-shadow: var(--shadow-outer);
      outline: none;
      &::placeholder {
        color: transparent;
      }
    }

    &.VALID {
      border-color: $color-primary-1;
    }
    &.INVALID {
      border-color: $color-primary-3;
    }
  }

  textarea {
    flex-grow: 1;
  }

  button {
    @include mixins.neumorphic-box-outer-s;
    padding: 0.4rem;
    margin-top: 0.4rem;
    border: 2px solid var(--color-bg);
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    color: var(--color-label);
    font-size: 1.2rem;
    font-weight: 500;

    &.VALID {
      color: var(--color-text);
      box-shadow: var(--shadow-outer);

      &:hover {
        box-shadow: var(--shadow-outer-s);
        color: var(--color-text-strong);
      }

      &:active {
        box-shadow: none;
      }
    }

    span:last-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-bg);
      filter: invert(100%);

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      color: var(--color-text-strong);

      opacity: 0;
      transition: $tr-op;
    }
  }
}

.INVALID:hover,
.FAIL:hover {
  span:last-child {
    opacity: 0.9;
  }
}

.PENDING,
.SUCCESS,
.FAIL {
  box-shadow: none !important;
}

button.PENDING {
  border-color: $color-primary-2;
}
button.SUCCESS {
  border-color: $color-primary-1;
}
button.FAIL {
  border-color: $color-primary-3;
}
