@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  & > h2 {
    text-align: center;
    margin: 0.5rem 0 1.5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 200px 150px;
  align-content: center;
  gap: 20px;

  & > *:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
  }
  & > *:nth-child(2) {
    grid-area: 1 / 4 / 2 / 7;
  }
  & > *:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }
  & > *:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }
  & > *:nth-child(5) {
    grid-area: 2 / 5 / 3 / 7;
  }
}

.item {
  @include mixins.neumorphic-box-outer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: 12px;

  & > *:nth-child(1) {
    flex-grow: 0;
  }
  & > *:nth-child(2) {
    flex-grow: 0;
  }

  &:hover {
    @include mixins.neumorphic-box-outer-s;
  }
}

.light.mainImg img {
  filter: invert(35%);
}
.dark.mainImg img {
  filter: invert(75%);
}

.hover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;

  display: flex;
  & > * {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // background
  &:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--color-bg);
    opacity: 0.8;
  }

  transition: 0.4s opacity;
  &:hover {
    opacity: 1;
  }
}

.subImg {
  img {
    transition: 0.3s filter;
    filter: invert(50%);
  }

  &:hover.light img {
    filter: invert(0);
  }
  &:hover.dark img {
    filter: invert(100%);
  }

  position: relative;
  & > p:last-child {
    position: absolute;
    left: 50%;
    top: 62%;
    translate: -50% 0;
    opacity: 0;
    color: var(--color-text-strong);

    &.animate {
      animation: 1s animate;
    }
  }
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
