@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.section {
  box-sizing: border-box;
  padding-top: 5rem;
  padding-right: 1.5rem;
  margin: auto;
}

.grid {
  margin: 1rem 0;
  padding-left: 0.4rem;

  display: grid;
  gap: 0.6rem 1rem;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  & > *:nth-child(1) {
    grid-area: 1 / 1 / 4 / 2;
  }
  & > *:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  & > *:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
  & > *:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
  }

  &.small {
    margin-top: 0.4rem;
    grid-template-columns: 1fr;
    & > *:nth-child(1) {
      grid-area: 2 / 1 / 3 / 2;
    }
    & > *:nth-child(2) {
      grid-area: 1 / 1 / 2 / 2;
    }
    & > *:nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    & > *:nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
  }
}

.image-outer {
  @include mixins.neumorphic-box-outer;
  border-radius: 12px;
  padding: 0.4rem;
  position: relative;
  min-width: 320px;
  max-width: 100%;
  min-height: 180px;
  max-height: 100%;
}
.large .image-outer {
  min-width: 256px;
}
.medium .image-outer {
  min-width: 224px;
}
.small .image-outer {
  min-width: auto;
}

.image-inner {
  position: absolute;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: calc(12px - 0.2rem);
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:nth-child(2) {
    opacity: 0;
    animation: 6s change-image infinite;
  }
}
@keyframes change-image {
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.image-outer ~ div {
  padding: 0 0.4rem;
}

.org {
  margin-top: 0.4rem;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  column-gap: 1em;

  span:first-child {
    font-weight: bold;
    font-size: 1.3rem;
  }
  span:nth-child(2) {
    font-weight: 500;
  }
}
.info {
  font-size: 0.95rem;
  text-indent: 1em;
  line-height: 1.2em;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.2rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;

  span {
    @include mixins.neumorphic-box-outer-s;
    padding: 0.2rem 0.4rem;
    border-radius: 12px;

    font-size: 0.95rem;
    font-weight: 500;
    &:hover {
      color: var(--color-text-strong);
    }
  }
}

.desc {
  padding-left: 0.6rem;

  h2 {
    font-style: italic;
    margin: 1rem 0 0.6rem;
  }
  h3 {
    font-style: italic;
    font-weight: bold;
    margin: 0.6rem 0 0.6rem;
  }
  ul {
    margin-left: 0.4rem;
  }
  li {
    margin-bottom: 0.2rem;
    line-height: 1.2em;
  }
  a {
    color: var(--color-text);
    font-weight: bold;
  }
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div:nth-child(1) {
    margin-top: 1rem;
    height: clamp(0px, 55vh, calc(98vw - 1.5rem));
    img {
      width: fit-content;
      height: 100%;
      object-fit: scale-down;
    }
  }

  p {
    font-size: clamp(22px, 5vw, 40px);
    font-weight: bold;
    margin: 1rem 0;
    height: 1em;
  }
}
