@use '/app/_styles/mixins.scss';

.card {
  @include mixins.neumorphic-box-outer;
  max-width: 720px;
  max-height: 3000px;
  margin: auto;
  border-radius: 12px;
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  & h1 {
    margin: 6px;
    margin-bottom: 12px;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
}
