@use '/app/_styles/mixins.scss';

.section {
  max-width: 720px;
  max-height: 3000px;
  margin: auto;
  border-radius: 12px;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  & h1 {
    color: var(--color-text-strong);
    margin: 6px;
    margin-bottom: 8px;
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}
