@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.wrapper {
  position: relative;
}

.line {
  position: absolute;
  top: -18px;
  right: 0;
  overflow: hidden;
  width: calc(50% - 143px);
  height: 70px;
  background-color: var(--color-bg);
  transition: $tr-bg;

  svg {
    position: absolute;
    top: -25px;
    right: calc(1.5rem - 5px);
  }
}

.arrow {
  position: absolute;
  width: 199px;
  height: 166px;
  top: 22px;
  left: calc(50% - 56px);
  overflow: hidden;
  z-index: 1;

  svg {
    width: 194px;
    height: 156px;
    margin-top: 5px;
    margin-left: 5px;
  }
}

.line > svg,
.arrow > svg {
  filter: drop-shadow(1px 1px 1px var(--color-shadow-dark))
    drop-shadow(-1px -1px 1px var(--color-shadow-light));
}

.title {
  padding: 172px 6% 1rem;

  p {
    @include mixins.neumorphic-box-outer;
    border-radius: 1rem;
    padding: 1rem 0.4rem;
    background: var(--color-primary-1);

    color: var(--color-text-strong);
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 0.2rem;
  }
}

// responsive
.small {
  .line {
    width: calc(50% - 60px);
  }

  .arrow {
    width: 101px;
    height: 127px;
    left: calc(50% - 40px);
    top: -3px;

    svg {
      width: 135px;
      height: 100px;
    }
  }

  .title {
    padding-top: 115px;
  }
}
