@use '/app/_styles/mixins.scss';

.grid {
  display: grid;
  column-gap: 0.5rem;
  grid-template-rows: auto 1fr;
  &.right {
    grid-template-areas:
      'year title'
      'line content';
    grid-template-columns: auto 1fr;
  }
  &.left {
    grid-template-areas:
      'title year'
      'content line';
    grid-template-columns: 1fr auto;
  }
}

.year {
  grid-area: year;

  @include mixins.neumorphic-box-outer-s;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-strong);
  font-weight: bold;
  font-size: 0.8rem;
}

.title {
  grid-area: title;

  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 1.5rem;
}
.left .title {
  justify-content: right;
}

.line {
  grid-area: line;

  @include mixins.neumorphic-box-outer-hover;
  width: 10px;
  margin: -30px calc(1.5rem - 5px);
}

.content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.left .content {
  flex-direction: row-reverse;
}

.desc {
  flex-basis: 60%;
  text-indent: 1rem;
  line-height: 1.2rem;
  word-break: keep-all;

  span {
    color: var(--color-label);
    font-size: 0.9em;
  }
}

.media {
  flex-basis: 40%;
  height: 100%;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    width: 100%;
    max-height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}

// responsive
.small {
  .content {
    flex-direction: column-reverse;
  }
  .desc {
    flex-basis: auto;
  }
  .media {
    flex-basis: auto;

    img {
      position: relative;
      height: 100%;
      max-height: 260px;
    }
  }
}
