@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.content {
  display: flex;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.role {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  &:not(:first-child) {
    margin-top: 0.25rem;
  }

  &.strong {
    color: var(--color-text-strong);
  }

  & > h3 {
    margin-right: 0.25em;
  }
}

.company {
  position: relative;
  font-style: italic;
}

.help {
  display: inline-block;
  position: relative;
  top: -0.1em;
  width: 1em;
  height: 1em;
  font-size: 0.9em;
  margin-left: 0.1em;

  color: var(--color-bg);
  background-color: var(--color-label);
  border-radius: 50%;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  transition: $tr-color, $tr-bg, $tr-shd;
  &:hover {
    background-color: var(--color-text);
    box-shadow: var(--shadow-outer-s);
  }
}

.help-desc {
  position: absolute;
  width: max-content;
  top: -0.2em;
  right: 1.25em;
  padding: 4px;
  background-color: var(--color-text) !important;
  border-radius: 8px;

  color: var(--color-bg);
  font-size: 0.9em;
  font-style: normal;

  opacity: 0;
  transition: $tr-op, $tr-shd;
  pointer-events: none;
}
.help:hover ~ .help-desc {
  opacity: 1;
  box-shadow: var(--shadow-outer-s);
}

.slide {
  position: relative;

  .bg {
    @include mixins.neumorphic-box-inner;
    width: 1.2rem;
    height: 100%;
    margin: 0 2rem 0 0.4rem;
    border-radius: 1rem;
  }

  .bar {
    --bar-vertical-margin: 0.3rem;
    --bar-height: calc(100% - 2 * var(--bar-vertical-margin));

    @include mixins.neumorphic-box-outer-s;
    position: absolute;
    left: 0.7rem;
    width: 0.6em;
    top: var(--bar-vertical-margin);
    height: var(--bar-height);
    border-radius: 1rem;
    background: none;
    transition: $tr-bg, $tr-shd, 0.4s top, 0.4s height;

    &.select0 {
      background-color: $color-primary-1;
      top: calc((0 / 76) * var(--bar-height) + var(--bar-vertical-margin));
      height: calc((8 / 76) * var(--bar-height));
    }
    &.select1 {
      background-color: $color-primary-2;
      top: calc((21 / 76) * var(--bar-height) + var(--bar-vertical-margin));
      height: calc((27 / 76) * var(--bar-height));
    }
    &.select2 {
      background-color: $color-primary-3;
      top: calc((40 / 76) * var(--bar-height) + var(--bar-vertical-margin));
      height: calc((26 / 76) * var(--bar-height));
    }
  }

  .scale {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0.65rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      color: var(--color-label);
      font-size: 0.75rem;
      text-align: center;
      padding: 0.4rem 0;
    }
  }
}

.project {
  padding-left: 0.75rem;
  position: relative;
}

.project-desc {
  text-indent: 1em;
  line-height: 1.2em;
  color: var(--color-label);
}

.project:hover {
  h4 {
    color: var(--color-text-strong);
  }
  .project-desc {
    color: var(--color-text);
  }
  .detail-btn {
    color: var(--color-text);
    border-color: var(--color-text);
  }
}

.period {
  color: var(--color-label);
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2rem 0;

  &.select0 {
    color: $color-primary-1;
  }
  &.select1 {
    color: $color-primary-2;
  }
  &.select2 {
    color: $color-primary-3;
  }
}

.detail-btn {
  position: absolute;
  margin-left: 0.4rem;
  padding: 0.1rem 0.3rem;
  border: 1px solid var(--color-label);
  border-radius: 1em;

  color: var(--color-label);
  font-size: 0.6rem;
  font-weight: 600;
  transition: $tr-color, $tr-bdr, $tr-shd;

  &:hover {
    border-color: transparent !important;
    box-shadow: var(--shadow-outer-s);
  }

  &:active {
    box-shadow: var(--shadow-outer-hover);
  }
}
