@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.role {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.company {
  position: relative;
}

.help {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  font-size: 0.9em;
  margin-left: 0.1em;

  color: var(--color-bg);
  background-color: var(--color-label);
  border-radius: 50%;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  transition: $tr-color, $tr-bg, $tr-shd;
  &:hover {
    background-color: var(--color-text);
    box-shadow: var(--shadow-outer-s);
  }
}

.help-desc {
  position: absolute;
  width: max-content;
  top: -2px;
  right: 1.25em;
  padding: 4px 6px;
  background-color: var(--color-text) !important;
  border-radius: 8px;

  color: var(--color-bg);
  font-size: 0.9em;

  opacity: 0;
  transition: $tr-op, $tr-shd;
  pointer-events: none;
}
.help:hover ~ .help-desc {
  opacity: 1;
  box-shadow: var(--shadow-outer-s);
}

.grid {
  display: grid;
  margin-top: 0.6rem;
  & > *:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }
  & > *:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  & > *:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.slide {
  position: relative;

  .bg {
    @include mixins.neumorphic-box-inner;
    width: 1.2rem;
    height: 100%;
    margin: 0 2rem 0 0.4rem;
    border-radius: 1rem;
  }

  .toggle {
    @include mixins.neumorphic-box-outer-s;
    position: absolute;
    left: 0.7rem;
    width: 0.6em;
    top: 0.3rem;
    height: calc(100% - 0.6rem);
    border-radius: 1rem;
    background: none;
    transition: $tr-bg, $tr-shd, 0.4s top, 0.4s height;

    &.select0 {
      background-color: $color-primary-3;
      top: (7 / 60) * 100%;
      height: (27 / 60) * 100%;
    }
    &.select1 {
      background-color: $color-primary-2;
      top: (26 / 60) * 100%;
      height: (26 / 60) * 100%;
    }
  }

  .scale {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0.65rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      color: var(--color-label);
      font-size: 0.75rem;
      text-align: center;
      padding: 0.4rem 0;
    }
  }
}

.project {
  margin: 0.4rem 0;
  position: relative;
}

.project-desc {
  text-indent: 1em;
  line-height: 1.2em;
  color: var(--color-label);
}

.project:hover {
  h3 {
    color: var(--color-text-strong);
  }
  .project-desc {
    color: var(--color-text);
  }
  .detail-btn {
    color: var(--color-text);
    border-color: var(--color-text);
  }
}

.period {
  color: var(--color-label);
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2rem 0;

  &.select0 {
    color: $color-primary-3;
  }
  &.select1 {
    color: $color-primary-2;
  }
}

.detail-btn {
  position: absolute;
  top: 0.1rem;
  margin-left: 0.4rem;
  padding: 0.1rem 0.3rem;
  border: 1px solid var(--color-label);
  border-radius: 1em;

  color: var(--color-label);
  font-size: 0.75rem;
  font-weight: 600;
  transition: $tr-color, $tr-bdr, $tr-shd;

  &:hover {
    color: var(--color-text-strong) !important;
    border-color: transparent !important;
    box-shadow: var(--shadow-outer);
  }

  &:active {
    box-shadow: var(--shadow-outer-hover);
  }
}
