@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.wrapper {
  margin: 1rem 0;
  padding: 0 0.4rem;
}

.role {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.sub-desc {
  color: var(--color-label);
  font-size: 1rem;
  font-weight: 300;
  margin: 0.2rem 0;
}

.help {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  font-size: 0.9em;
  bottom: 2px;
  margin-left: 0.1em;

  color: var(--color-bg);
  background-color: var(--color-label);
  border-radius: 50%;
  font-style: normal;
  text-align: center;
  cursor: pointer;
  transition: $tr-bg, $tr-shd;
  &:hover {
    background-color: var(--color-text);
    box-shadow: var(--shadow-outer-s);
  }

  &:after {
    content: 'Name changed by split-off';

    position: absolute;
    width: max-content;
    top: -2px;
    right: 1.25em;
    padding: 4px 6px;
    background-color: var(--color-text) !important;
    border-radius: 4px;

    color: var(--color-bg);
    font-size: 0.9em;

    opacity: 0;
    transition: $tr-op, $tr-shd;
    pointer-events: none;
  }
  &:hover::after {
    opacity: 1;
    box-shadow: var(--shadow-outer-s);
  }
}

.project {
  margin: 0.6rem 0;
}
