@use '/app/_styles/mixins.scss';
@use '/app/_styles/variables.scss' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
  margin: 1rem 0;

  & > *:nth-child(1) {
    grid-column: 1 / 3;
  }
  & > *:nth-child(2) {
    grid-column: 3 / 4;
  }
}

// responsive
.grid.small {
  & > *:nth-child(1) {
    grid-area: 2 / 1 / 3 / 4;
  }
  & > *:nth-child(2) {
    grid-area: 1 / 1 / 2 / 4;
  }
}

.img {
  @include mixins.neumorphic-box-outer;
  position: relative;
  border: 10px solid var(--color-bg);
  border-radius: 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: auto;
  img {
    object-fit: cover;
  }
}

.desc {
  text-indent: 2em;
  padding: 0.2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 28px;

  & > button {
    flex-grow: 1;
    position: relative;
    width: 285px;
    height: 36px;

    color: var(--color-text);
    font-weight: bold;

    // neumorphic background
    &::before,
    &::after {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      border-radius: 18px;
      transition: $tr-bg, $tr-shd, $tr-op !important;
      z-index: -1;
      content: '';
    }
    &::before {
      @include mixins.neumorphic-box-outer;
    }
    &:hover {
      &::before {
        @include mixins.neumorphic-box-outer-hover;
      }
    }
  }

  // styles for details open & close
  & > button:last-child {
    position: relative;
    &::after {
      @include mixins.neumorphic-box-inner;
      opacity: 0;
    }
    &:hover::after {
      @include mixins.neumorphic-box-inner-hover;
      opacity: 0;
    }

    & > div {
      position: absolute;
      left: 50%;
      width: 100%;
      margin-bottom: 0 !important;
      transform: translate(-50%, -50%);
      transition: $tr-op;
    }
    & > div:last-child {
      opacity: 0;
    }

    &.open {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
      & > div:first-child {
        opacity: 0;
      }
      & > div:last-child {
        opacity: 1;
      }
    }
  }
}

.btn-name {
  display: inline-block;
  width: 140px;
  transition: $tr-color;
}
.buttons > button:hover .btn-name {
  color: var(--color-text-strong);
}

.arrows {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  top: 3px;

  span {
    display: block;
    position: absolute;
    top: 4px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid var(--color-text);
    border-right: 2px solid var(--color-text);
    transform: rotate(45deg);
  }
}

.animate-hover:hover {
  & .animate-target {
    animation: animate 2s ease-in-out infinite;
  }
  & .animate-target:last-child {
    animation-delay: -1s;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-3px, -3px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(3px, 3px);
  }
}
