@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.grid {
  margin-top: 1rem;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;

  & > *:nth-child(1) {
    // front-end
    grid-area: 1 / 1 / 4 / 4;
  }
  & > *:nth-child(2) {
    // state management
    grid-area: 2 / 4 / 4 / 6;
  }
  & > *:nth-child(3) {
    // back-end
    grid-area: 4 / 1 / 6 / 3;
  }
  & > *:nth-child(4) {
    // others
    grid-area: 4 / 3 / 6 / 6;
  }
  & > *:nth-child(5) {
    // placeholder
    grid-area: 1 / 4 / 2 / 6;
  }
}

.grid.small {
  grid-template-columns: 1fr;
  @for $i from 1 to 6 {
    & > *:nth-child(#{$i}) {
      grid-area: #{$i} / 1 / #{$i + 1} / 2;
    }
  }
  & > *:nth-child(5) {
    display: none;
  }
}

.grid-item {
  @include mixins.neumorphic-box-outer;
  border-radius: 12px;
  padding: 12px;

  display: flex;
  flex-direction: column;

  & > h2,
  & > h3 {
    padding-bottom: 0.2rem;
  }
  & > p {
    flex-grow: 1;
    padding: 0.2rem 0.4rem 0 0.4rem;
    text-indent: 1em;
    line-height: 1.2rem;
    font-size: 0.95rem;
    color: var(--color-label);
  }
}

// highlight hovered grid item and dehighlight others
.grid {
  & img {
    transition: filter 0.3s;
  }
  &:has(.select) {
    .select h2,
    h3 {
      color: var(--color-text-strong);
    }
    .select p {
      color: var(--color-text);
    }
    .glow-box:not(.select) img {
      filter: grayscale(1);
    }
  }
}

.category {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4px;

  position: relative;
  width: 100%;
  margin-top: 0.4rem;
}

.skill {
  width: 30%;
  margin: 0.4rem 0;
  border-radius: 50%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;

  p {
    font-size: $font-size-sub-desc;
    font-weight: 500;
  }
}

.placeholder {
  position: relative;
  height: 0;
  padding: 0;
  padding: 56.25% 0 0; // 16 : 9 ratio

  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50% !important;

    font-size: 5rem;
    font-weight: 900;
    transition: 1s color;

    &::after {
      position: absolute;
      box-sizing: border-box;
      left: -20px;
      top: -20px;
      padding: 20px;
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      content: '</>';

      color: transparent;
      background: linear-gradient(90deg, #f35626, #feab3a);
      animation: hue 4s infinite linear;
      background-clip: text;
      opacity: 0;
      transition: 1s opacity;
    }
  }
  &.select {
    & > div:after {
      opacity: 1;
    }
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

.glow-box {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: radial-gradient(
      800px circle at var(--x) var(--y),
      var(--color-text-strong),
      transparent 40%
    );

    opacity: 0;
    transition: opacity 0.2s;
  }
  &:hover::before {
    opacity: 0.1;
  }
}
