@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 31cm;
  padding-top: 5rem;
  overflow-x: auto;
  overflow-y: clip;
}

.page {
  @include mixins.neumorphic-box-outer;
  box-sizing: border-box;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  padding: 1.27cm;

  color: black;
  font-size: 13pt;

  background: none;
  background-color: white;

  position: relative;
  z-index: 1;

  * {
    line-height: 1.2em;
  }

  animation: show 1s;
  &.hide {
    animation: hide 0.6s forwards;
  }
}
@keyframes show {
  0% {
    translate: 0 100vh;
  }
  100% {
    translate: 0 0;
  }
}
@keyframes hide {
  0% {
    translate: 0 0;
  }
  100% {
    translate: 0 31.5cm;
  }
}

.header {
  padding-bottom: 18px;

  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 29px !important;
  }
}

.intro {
  display: grid;
  grid-template:
    'about about'
    'interest contact';
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-bottom: 32px;
}
.about {
  grid-area: about;
  word-break: keep-all;
}
.interest {
  grid-area: interest;
}
.contact {
  grid-area: contact;
}

.intro-title {
  font-size: 23px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-bottom: 6px;
}

.content {
  display: grid;
  grid-template:
    'work other'
    'work skills'
    'work edu';
  grid-template-columns: 11fr 9fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  gap: 24px;
}
.work {
  grid-area: work;
}
.other {
  grid-area: other;
}
.skills {
  grid-area: skills;
}
.edu {
  grid-area: edu;
}

.title {
  font-size: 26px;
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
}

.period {
  margin-top: -2px;
  color: $color-lbl--light;
}

.desc > * {
  text-indent: 1em;
  padding: 2px 0;
}

.list {
  padding-top: 6px;
  padding-left: 20px !important;

  li {
    padding-bottom: 4px;
    line-height: 1.05em;
    word-break: keep-all;
  }
}

.work-item:not(:last-child) {
  padding-bottom: 18px;
}

.degree {
  font-size: 20px;
  font-weight: bold;
}

.skillCat {
  font-size: 15pt;
  font-weight: bold;
}
.skillList {
  margin-left: 0.5em;
}
.skillList:not(:last-child) {
  margin-bottom: 0.2em;
}

// functional buttons
.download-btn,
.print-btn {
  @include mixins.neumorphic-box-outer;
  position: absolute;
  top: 1.55cm;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 50%;
  background: none !important;
  background-color: white !important;
  cursor: pointer;

  img {
    translate: 0 3px;
  }

  &:hover {
    @include mixins.neumorphic-box-outer-s;
  }
  &:active {
    @include mixins.neumorphic-box-outer-hover;
  }
}
.download-btn {
  right: calc(1.55cm + 80px);
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.print-btn {
  right: 1.55cm;
}

.footnote {
  position: relative;
  top: 0.8rem;
  width: 21cm;
  margin: auto;

  color: var(--color-label);
  font-size: 0.9rem;
  text-align: right;
}
.hide ~ .footnote {
  color: transparent;
}

.placeholder {
  height: 33cm;
}
.eng ~ .placeholder {
  height: 12.3in;
}

// styles for english version
.eng {
  &.page-wrapper {
    height: 11.5in;
  }

  .page {
    width: 8.5in;
    height: 11in;
    font-size: 13pt;
    padding: 0.3in;
  }

  .header {
    padding-bottom: 12px;
    h1 {
      font-size: 35px !important;
      line-height: 1.05em;
    }
    h2 {
      font-size: 36px !important;
      line-height: 1.05em;
    }
  }

  .intro {
    padding-bottom: 16px;
    gap: 6px;
  }

  .intro-title {
    font-size: 23px;
  }

  .content {
    grid-template-columns: 7fr 4fr;
    gap: 24px;
  }

  .title {
    font-size: 26px;
    padding-bottom: 6px;
  }

  .subtitle {
    font-size: 22px;
  }

  .work-item:not(:last-child) {
    padding-bottom: 8px;
  }

  .degree {
    line-height: 1em;
    ~ .period:not(:last-child) {
      padding-bottom: 4px;
    }
  }

  .yonsei {
    font-size: 18px;
    line-height: 1.3em;
  }

  .footnote {
    width: 8.5in;
  }

  .download-btn,
  .print-btn {
    top: 1cm;
  }
  .download-btn {
    right: calc(1cm + 80px);
  }
  .print-btn {
    right: 1cm;
  }
}

.show-on-print {
  display: none;
  text-indent: 0;
}

// print settings
@media print {
  #nav {
    display: none !important;
  }
  #footer {
    display: none !important;
  }
  .page-wrapper {
    padding-top: 0 !important;
    height: 29.7cm !important;
    &.eng {
      height: 11in !important;
    }
  }
  .page {
    box-shadow: none !important;
    width: 100%;
    height: 100%;
  }
  .download-btn,
  .print-btn {
    display: none !important;
  }
  .footnote {
    display: none !important;
    height: 0;
  }
  .placeholder {
    display: none;
  }

  .hide-on-print {
    display: none;
  }
  .show-on-print {
    display: block;
  }
}
