@use '/app/_styles/variables.scss' as *;
@use '/app/_styles/mixins.scss';

.page-wrapper {
  position: relative;
  padding: 5rem 0 0;
}

.page {
  @include mixins.neumorphic-box-outer;
  box-sizing: border-box;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  padding: 1cm;

  color: black;
  font-size: 14pt;

  background: none;
  background-color: white;

  position: relative;

  * {
    line-height: 1.2em;
  }
}

.header {
  padding-bottom: 16px;

  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 29px !important;
  }
}

.intro {
  display: grid;
  grid-template:
    'about about'
    'interest contact';
  gap: 8px;
  padding-bottom: 24px;
}
.about {
  grid-area: about;
}
.interest {
  grid-area: interest;
}
.contact {
  grid-area: contact;
}

.intro-title {
  font-size: 26px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-bottom: 6px;
}

.content {
  display: grid;
  grid-template:
    'work other'
    'work skills'
    'work edu';
  grid-template-columns: 6fr 4fr;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  gap: 20px;
}
.work {
  grid-area: work;
}
.other {
  grid-area: other;
}
.skills {
  grid-area: skills;
}
.edu {
  grid-area: edu;
}

.title {
  font-size: 30px;
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
  padding-bottom: 10px;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
}

.period {
  margin-top: -2px;
  color: $color-lbl--light;
}

.desc p {
  text-indent: 1em;
  padding: 2px 0;
}

.list {
  padding-top: 6px;

  li {
    padding-bottom: 2px;
    line-height: 1.05em;
    word-break: keep-all;
  }
}

.work-item:not(:last-child) {
  padding-bottom: 16px;
}

.degree {
  font-size: 20px;
  font-weight: bold;
}

.skillCat {
  font-size: 15pt;
  font-weight: bold;
}
.skillList {
  margin-left: 0.5em;
}

// functional buttons
.print-btn {
  @include mixins.neumorphic-box-outer;
  position: absolute;
  right: 1cm;
  top: 1cm;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: none !important;
  background-color: white !important;

  &:hover {
    @include mixins.neumorphic-box-outer-s;
  }
  &:active {
    @include mixins.neumorphic-box-outer-hover;
  }

  img {
    translate: 0 3px;
  }
}

.footnote {
  position: relative;
  top: 0.8rem;
  width: 21cm;
  margin: auto;

  color: var(--color-label);
  font-size: 0.9rem;
  text-align: right;
}

// print
@media print {
  #nav {
    display: none !important;
  }
  #footer {
    display: none !important;
  }
  .page-wrapper {
    padding: 0 !important;
  }
  .page {
    box-shadow: none !important;
    padding: 0;
    width: auto;
    height: 100vh;
  }
  .print-btn {
    display: none !important;
  }
  .footnote {
    display: none !important;
  }
}
